<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="logo" href="#myPage">
          <img src="../static/img/kairoi_logo_blue_orange_dark.png" width=60px height=60px>
        </a>
        <a class="navbar-brand" href="#myPage">Kairoi</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#explain">EXPLAIN LYRICS</a></li>
          <li><a href="#about">ABOUT KAIROI</a></li>
          <li><a href="#model-mechanics">MODEL MECHANICS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!--
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Welcome to Kairoi</h1>
    <p class="lead">A Generative Seq2Seq LSTM Model (For Now)</p>
    <hr class="my-4">
    <p>It's learned how to explain lyrics. Want to try?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  -->
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4" style="padding-top:150px">Welcome to Kairoi</h1>
      <p class="lead">A Generative Seq2Seq LSTM Model (For Now)</p>
    </div>
  </div>


  <!-- Container (Title/Intro Section)
  <div class="jumbotron text-center">
    <h1>Welcome to Kairoi</h1>
    <div class="h2" color=white>A Generative Seq2Seq LSTM Model (For Now)</div>
  </div>
-->
  <!-- Container (Generation Section) -->
    <div id="explain" class="jumbotron text-center" style='position: relative; top: -30px; padding-bottom:200px'>
      <div class="h2" style="padding-top:60px" color=white>Explain Lyrics</div>
      <br>
      <div class='inline-flex-parent'>
          <form method=post>
            <div class="form-group">

              <label for="exampleFormControlSelect1">Select Model</label>
              <select class="form-control" name=model id="exampleFormControlSelect1">
                <option>Seq2Seq LSTM, 256 latent dimensions (better grammar, worse intuition)</option>
                <option>Seq2Seq LSTM, 512 latent dimensions (worse grammar, better intuition)</option>
                <option>Seq2Seq with Bidirectional LSTM</option>
              </select>

            </div>

            <div class="form-group">
              <label for="formControlRange">Temperature</label>
              <input type="range" name=sentence class="form-control-range" id="formControlRange">
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1">Lyrics to Explain</label>
              <textarea class="form-control" name=lyrics id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-primary" background-color=#295B60>Submit</button>

          </form>
    </div>
  </div>

  <!-- Container (About Section) -->
  <div id="about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <h2>About Kairoi</h2>
        <h4><b>Kairoi</b> is the plural form of <b><a href="https://en.wikipedia.org/wiki/Kairos">Kairos</a></b>, a rhetorical term that describes a the opportune time for action and a speaker's ability to adapt to and take advantage of changing, contingent circumstance. To the ancient Greeks, Kairos was the god of opportunity and the fleeting moment.</h4>
        <blockquote class="blockquote">
          <p class="mb-0">"Running swiftly, balancing on the razor's edge, bald but with a lock of hair on his forehead, he wears no clothes; if you grasp him from the front, you might be able to hold him, but once he has moved on not even Zeus himself can pull him back: this is a symbol of Kairos, the brief moment in which things are possible."</p>
          <footer class="blockquote-footer">Aesop, <cite title="Source Title"><a href='https://www.theoi.com/Daimon/Kairos.html'>Fables 536 (from Phaedrus 5. 8) </a></cite></footer>
        </blockquote>

        <h4>In NLP, text is often treated like a sequential time-series problem. Many of today's tools use frequentist statistical practices to identify patterns that tend to capture the syntax of language more than semantic meaning. State of the art tools, like Seq2Seq and Attention Mechanisms, focus on finding the <i>right</i> sequential patterns in text, which is why they embody the qualitative and subjective concept of time that the word Kairos represents.</h4>
        <h4>The exciting thing about Kairos is that it's not singular. We may miss an opportunity to find meaning, but we learn to adapt and be better prepared to grab the lock of hair the next time it comes around.</h4>
        <h4>That's why this project is called <b>Kairoi</b> - It's only just getting started!</h4>
        <br>
        <div class="text-center">
        <h2>Mission</h2>
        <h4><i>To grab the lock of pragmatic meaning not once, but many times — not due to luck, but because of a deeper understanding of how natural language functions.</i></h4></div>
        <!--<button class="btn btn-default btn-lg">Get in Touch</button>-->
      </div>
    <img src="../static/img/kairoi_logo_blue_orange_dark_2.png" class="rounded mx-auto d-block" alt="Responsive image" height=200 width=200>

<!--
    <div class="paragraphs">
      <div class="row">
    <div class="span4">
      <img style="float:left" src="../static/img/kairoi_logo_blue_orange_dark_2.png"/>
      <div class="content-heading"><h3>Experience &nbsp </h3></div>
      <p><div style="clear:both"></div>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
  </div>
</div>
-->

    <!--
    <div class="col-sm-4">
    </div>
    <span class="glyphicon logo">
    </span>
    <div class="column logo-big">
      <img src="../static/img/kairoi_logo_blue_orange_dark_2.png" class="rounded float-right" alt="logo" width=200px height=200px >
    </div>
  -->
    </div>
  </div>


  <!-- Container (Model Mechanics Section) -->
<div id="model-mechanics" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Model Mechanics</h2>
      <h4>Neural Machine Translation</h4>
      <p>Seq2Seq Models have been successful in NLP Translation tasks over the past few years. The lyric-annotation pair training data from Genius can be assumed to be similar in meaning, since the annotations are meant to explain the lyrics, which allows us to frame this as a translation problem that can be modeled with Seq2Seq.</p>
      <br>
      <h4>Data Overview</h4>
      <p><a href='https://genius.com/'>Genius.com</a> is an online community where users browse, rate, and create annotations for lyrics to help explain their meaning and context.</p>
      <p>This application was made using a simple Seq2Seq LSTM Model that was trained on 7,889 pairs of lyrics and annotations that were obtained from the <a href='https://docs.genius.com/'>Genius.com API.</a></p>
      <br>
      <!--<button class="btn btn-default btn-lg" href='/#contact'>Get In Touch</button>-->
    </div>
    <div class="row">
      <div class="column">
        <img src="../static/img/s2s_training.png" alt="training" height=400 width=200>
      </div>
      <div class="column">
        <img src="../static/img/inference.png" alt="inference" height=400 width=200>
      </div>
    </div>
  </div>
</div>


    <!-- Container (Contact Form) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <h3>Taite Sandefer</h3>
        <p><span class="glyphicon glyphicon-map-marker"></span> Denver, CO</p>
        <p><span class="glyphicon glyphicon-phone"></span> (512)965-7295</p>
        <p><span class="glyphicon glyphicon-envelope"></span> taite.sandefer@gmail.com</p>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <footer class="container-fluid text-center">
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>DSI Capstone Project for <a href="https://www.galvanize.com">Galvanize, Inc.</a></p>
    <P>Sponsored by Rolling Rock IPA</p>
  </footer>


  </body>
</html>
